body{
    background-color: #181921;
    margin-right: 30%;
}

@font-face {
    font-family: VWTextRegular;
    src: url('VWTextRegular.otf') format('opentype');
  }

@font-face {
    font-family: VWHeadBold;
    font-weight: bold;
    src: url("VWHeadBold.otf") format("opentype");
}

#head-bar{
    background-color: #181921;
    max-width: 100%;
    height: 20%;
}

h{
    font-size: 160%;
    font-family: VWHeadBold;
    color: #f3f3f3;
}
p{
    font-size: 110%;
    font-family: VWTextRegular;
    color: #d3d3d3;
    text-align: justify;
}

a{
    font-size: 115%;
    font-family: VWHeadBold;
    color: #428bca;
    text-decoration: none
}
a:hover{
    color: #2a6496;
    text-decoration: underline
}

div.resumo h{
    padding-top: 10px;
    color: #f3f3f3;
    font-size: 180%;
    font-family: VWHeadBold;
}

div.resumo p{
    color: #d3d3d3;
    font-size: 120%;
    font-family: VWTextRegular;
} 

input[type=submit]{
    /*background: #272727;*/
    background: #181921;
    color: #f3f3f3;   
    border: none;
    text-align: center;
    font-size: 100%;
    font-family: VWHeadBold;
}
input[type=submit]:hover{
    color: #d3d3d3;
    text-decoration: underline
}