<!DOCTYPE html>
<html>
<html lang="pt-BR">
<body>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='res/styles.css') }}">
    <title> PROJETO INTEGRADOR IV: Analisando dados de sistema de previdência social ao redor do mundo</title>
</head>

<h>PROJETO INTEGRADOR IV: Analisando dados de sistema de previdência social ao redor do mundo</h>
<p>Por: Caio Braga Silva e Juan Victor Suman. <br>Bacharelado em Ciência da Computação - 4º Semestre</p>

<div id="resumo" style="text-align: left;">
        <h>O quê é?</h>
        <p>Sistemas de previdência social são um tipo de política pública de caráter quase universal, sendo
                um dos principais componentes dos sistemas de seguridade social de diversos países ao redor
                do mundo. Este projeto tem por objetivo examinar, através de bases de dados de instituições
                como Banco Mundial, OCDE e FMI, as similaridades e divergências de tais sistemas, bem como
                seu impacto nos países envolvidos. O projeto analisa dois diferentes tipos de dados - fundos de pensão como % do PIB e gasto público com aposentadorias.</p>
        <p>Através da bibliotecas de visualização e manipulação de dados da linguagem Python, como
                Pandas, Folium e Matplotlib, e com auxilio de ferramentas abertas de mapeamento, como o
                OpenStreetMap, pretendemos criar uma visualização interativa de um mapa global, traduzindo
                dados demográficos e socioeconômicos em algo facilmente compreensível a todos os públicos.</p>
    </div>

    <a href="{{ url_for('mapFundos')}}" target="_self">Fundos de Previdência em relaçao ao PIB (em porcentagem)</a><br>
    <a href="{{ url_for('mapGastos')}}" target="_self">Gastos de Previdência em relaçao ao PIB (em porcentagem)</a>
</body>
</html>
